<ion-header>
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>   
    <ion-title>Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <ion-list> 
      <!-- Título -->
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input 
          formControlName="title"
          placeholder="Ej: Mascota perdida" 
        ></ion-input>
      </ion-item>
      <!-- Validación título -->
      <ion-item *ngIf="title?.invalid && (title?.dirty || title?.touched)" lines="none">
        <ion-text color="danger">
          <small *ngIf="title?.errors?.['required']">El título es obligatorio</small>
          <small *ngIf="title?.errors?.['minlength']">Mínimo 5 caracteres</small>
        </ion-text>
      </ion-item>

      <!-- FOTOGRAFÍA (Cámara) -->
      <ion-item>
        <ion-button (click)="takePicture()" fill="outline">
          <ion-icon slot="start" name="camera"></ion-icon>
          FOTOGRAFÍA
        </ion-button>
        <ion-img 
          *ngIf="capturedImage" 
          [src]="capturedImage" 
          style="max-width: 140px; margin-left: 60px;"
        ></ion-img>
      </ion-item>

      <!-- Descripción -->
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea 
          formControlName="description"
          rows="2"
          placeholder="Ej: Gato naranja perdido en esquina Manuel Montt con Los Chivos..."
        ></ion-textarea>
      </ion-item>
      <!-- Validación descripción -->
      <ion-item *ngIf="description?.invalid && (description?.dirty || description?.touched)" lines="none">
        <ion-text color="danger">
          <small *ngIf="description?.errors?.['required']">La descripción es obligatoria</small>
          <small *ngIf="description?.errors?.['minlength']">Mínimo 20 caracteres</small>
        </ion-text>
      </ion-item>
    </ion-list>

      <!-- Botón Guardar -->
      <div class="button-container">
      <ion-button 
        type="submit" 
        color="primary" 
        [disabled]="postForm.invalid"
      >
        GUARDAR
      </ion-button>
    </div>
  </form>
</ion-content>